.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border: 0px !important;
    background:none !important;
}
th{
    text-align: center !important;
}
td.button_actions{
    text-align: center;
}